.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: var(--c-bg-header-footer);
}

.footerButtons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 5px;
}

.footer.colored {
  padding: 5px 5px 5px 5px;
  width: auto;
  background-image: linear-gradient(to right, var(--c-bg), var(--c-bg-frame));
}