.logo {
  width: 270px;
  height: 270px;
  padding: var(--sp-3);

  background: var(--c-bg-special);
  border-radius: var(--r-6);
  border: 2px solid var(--c-l4);
}

.logoClosing {
  animation: slideOut var(--anim-time) ease-out both;
}

.logoOpening {
  animation: slideIn var(--anim-time) ease-out both;
}

.frame {
  position: relative;
  display: grid;
  grid-template-rows: auto 0.8fr auto;  

  width: 340px;
  height: 270px;
  padding: var(--sp-3);

  background: var(--c-bg-frame);
  border-radius: var(--r-6);
  border: 2px solid var(--c-l1);
  color: var(--c-t);
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: var(--sp-3);
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-2);
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: var(--sp-4);
  gap: var(--sp-3);
}

.rowControllers {
  display: flex;
  flex-direction: column;
  gap: var(--sp-3);
  width: 100%;
  max-width: 85%;
  align-items: stretch;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-2);
  margin: var(--sp-2);
}

@keyframes slideOut {
  from {
    opacity: 1;
    translate: 0;
  }
  to {
    opacity: 0;
    translate: 300px;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    translate: 300px;
  }
  to {
    opacity: 1;
    translate: 0;
  }
}