.chatlist {
  display: grid;
  align-items: start;
  gap: 15px;
  align-self: start;
  overflow-y: scroll;
  max-height: auto;
}

.minChat {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 2px;
  gap: 3px;

}

.minChat:hover {
  background-color: var(--c-bg-h);
}

.minChat.selected {
  background-color: var(--c-bg-s);
}

.minChatText {
  display: grid;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}