.gridSVG {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: auto; 
  background-color: var(--c-bg-main); 
}

@keyframes bg-animation {
  0% {
    stroke: var(--c-peak);
  }
  50% {
    stroke: var(--c-negate-h);
  }
  100% {
    stroke: var(--c-peak);
  }
}
.gridSVG path {
  stroke: var(--c-peak-h);
  pointer-events: none; 
  transition: stroke 2s, opacity 2s;
  opacity: 0.1;
  animation: bg-animation 5s ease-in-out infinite;
}

.gridSVG:hover path {
  opacity: 0.5;
}