.label {
  line-height: 1;
  cursor: default;
}

.label.title {
  font-size: var(--text-title);
  font-weight: 600;
  margin: var(--space-xs);
}

.label.subtitle {
  font-size: var(--text-subtitle);
  font-weight: 500;
}

.label.body {
  font-size: var(--text-body);
}

.label.caption {
  font-size: var(--text-caption);
  margin: var(--space-xs);
}

.label.blue {
  color: var(--color-primary);
}

.label.white {
  color: var(--color-text-white);
}

.label.black {
  color: var(--color-text-black);
}