.arrow-button {
  border-radius: 50%;
  border: none;
  background: #3369F3;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-button:hover {
  background: #2954c8;
}