.button {
  border: none;
  border-radius: 6px;
  color: #E2E2E4;
  cursor: pointer;
  margin: 5px;
}

.primary.small {
  padding: 4px 60px;
}

.primary.medium {
  padding: 8px 70px;
}

.primary.large {
  padding: 12px 80px;
}

.primary.blue {
  background-color: #3369F3;
}

.primary.dark {
  background-color: #333;
}

.primary.blue:hover {
  background-color: #2954c8;
}

.primary.dark:hover {
  background-color: #555;
}