.inputWrapper {
  display: inline-flex;
}

.inputWithCaption {
  display: grid;
  grid-template-rows: min-content min-content;
  gap: var(--sp-3);
  text-align: start;
}

.input {
  border: 1px solid var(--c-t-muted);
  border-radius: var(--r-4);
  color: var(--c-t);
  background: var(--c-field);
  width: 100%;
  outline: none;
}

.input--sm { padding: var(--sp-2); font-size: var(--fs-2); }
.input--md { padding: var(--sp-3); font-size: var(--fs-3); }
.input--lg { padding: var(--sp-4); font-size: var(--fs-4); }
