.menu {
  background-color: var(--c-bg-frame);
  border-radius: var(--r-4);
  padding: 5px;
  width: max-content;
  z-index: 600;
  position: absolute;
}

.menu.attachment {
  translate: var(--sp-3) -100%;
}
  
.menu.chat {
  translate: calc(-100% + var(--sp-3)) calc(3 * var(--sp-3) + 30px + 2 * 5px);
}

/* FIXME: tune or delete */
.menu.account {
  translate: 0 0;
}

.option {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: var(--r-4);
  padding: 5px;
}

.option:hover {
  background-color: var(--c-bg-h);
  cursor: pointer;
}

.option:hover p {
  cursor: pointer;
}