.line.edit {
  display: flex;
  align-content: center;
  border: none;
  border-radius: var(--radius-sm);
  margin: var(--space-xs);
  cursor: text;
  font-size: medium;
  color: aliceblue;
}

.line.edit.small {
  padding: var(--space-xs);
}

.line.edit.medium {
  padding: var(--space-sm);
}

.line.edit.large {
  padding: var(--space-md);
}

.line.edit.blue {
  background: var(--color-bg-input);
}