/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* ROOT VARIABLES */
:root {
  /* Colors */
  /* accent */
  --c-primary: #3369F3;
  --c-primary-hover: #2954c8;
  --c-main: #E2E2E4;

  /* Backgrounds */
  --c-bg-main: #242424;
  --c-bg-frame: #343A4F;
  --c-bg-input: #252838;

  /* Text */
  --c-text-main: #E2E2E4;
  --c-text-muted: #9898B0;
  
  /* Spacing */
  --sp-1: 2px;
  --sp-2: 4px;
  --sp-3: 8px;
  --sp-4: 12px;
  --sp-5: 16px;

  /* Radius */
  --r-1: 3px;
  --r-2: 6px;
  --r-3: 8px;
  --r-4: 10px;
  --r-5: 12px;
  --r-6: 14px;

  /* Font sizes */
  --fs-1: 10px;
  --fs-2: 12px;
  --fs-3: 16px;
  --fs-4: 18px;
  --fs-5: 28px;
  --fs-6: 36px;
  --fs-7: 42px;
}

/* BODY */
body {
  font-family: "Roboto", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
}
