.line.edit {
  display: flex;
  border: none;
  opacity: 1;
  border-radius: 5px;
  margin: 5px;
  cursor: text;
}

.line.edit.small {
  margin: 4px 2px;
  padding: 4px 4px;
}

.line.edit.medium {
  margin: 8px 4px;
  padding: 8px 8px;
}

.line.edit.large {
  margin: 12px 6px;
  padding: 12px 12px;
}

.line.edit.blue {
    background: #252838;
}