.authFrame {
  width: 340px;
  height: 270px;
  background: #343A4F;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.authFrameCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px;
  width: 310px;
}

.icons {
  flex-direction: row;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
}