.settingsButtons {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: var(--sp-2);
  gap: var(--sp-2);
  height: 100%;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn var(--a-time) ease-in-out;
  z-index: 900;
}

.closingDim {
  animation: fadeOut var(--a-time) ease-in-out forwards;
}

.settings {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 300px;
  background-color: var(--c-bg-settings);
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  animation: slideIn var(--anim-time) ease-in-out;
  overflow-y: auto;
  z-index: 1000;
}

.closingSettings {
  animation: slideOut var(--anim-time) ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.separator {
  color: var(--c-separator);
  margin: 5px;
}

.stickToBottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
}

.selectTheme {
  color: var(--c-t);
  background-color: var(--c-bg);
  padding: var(--sp-3);
  margin: var(--sp-1);
  border-style: hidden;
  border-radius: var(--r-3);
}

.modal {
  display: flex;
  flex-direction: column;
  z-index: 5000;
  position: absolute;
  background-color: var(--c-bg);
  align-items: center;
  align-self: center;  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  justify-content: center;
}

.modalButtons {
  display: flex;
  flex-direction: row;
}