.header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
}

.headerButtons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 5px;
}

.header.colored {
  background-color: var(--c-primary);
}