.header {
  position: sticky;
  top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  background-color: var(--c-bg-header-footer);
}

.headerButtons {
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 5px;
}

.header.colored {
  padding: 5px 5px 5px 5px;
  width: auto;
  background-image: linear-gradient(to right, var(--c-bg), var(--c-bg-frame));
  :last-child:has(button), :last-child:is(button) {
    margin-left: auto;
  }
}